.carda {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 16rem;
    height: 18rem;
  }
.carda img{
    height: 65%;
  }
  
  /* On mouse-over, add a deeper shadow */
  .carda:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .containera {
    padding: 2px 16px;
  }

  @media only screen and (max-width: 600px){
      .carda{
          width: 95%;
          margin: 5px;
          height: 45vh;
      }
  }