@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Kaushan+Script&display=swap');
html {
    box-sizing: border-box;
}

body {
    background-color: #f7f4fc;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='88' height='24' viewBox='0 0 88 24'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='autumn' fill='%23000000' fill-opacity='0.18'%3E%3Cpath d='M10 0l30 15 2 1V2.18A10 10 0 0 0 41.76 0H39.7a8 8 0 0 1 .3 2.18v10.58L14.47 0H10zm31.76 24a10 10 0 0 0-5.29-6.76L4 1 2 0v13.82a10 10 0 0 0 5.53 8.94L10 24h4.47l-6.05-3.02A8 8 0 0 1 4 13.82V3.24l31.58 15.78A8 8 0 0 1 39.7 24h2.06zM78 24l2.47-1.24A10 10 0 0 0 86 13.82V0l-2 1-32.47 16.24A10 10 0 0 0 46.24 24h2.06a8 8 0 0 1 4.12-4.98L84 3.24v10.58a8 8 0 0 1-4.42 7.16L73.53 24H78zm0-24L48 15l-2 1V2.18A10 10 0 0 1 46.24 0h2.06a8 8 0 0 0-.3 2.18v10.58L73.53 0H78z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

h4 {
    font-family: 'Kaushan Script', cursive;
    font-size: 6rem;
}

section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    font-family: 'Baloo Bhai 2', cursive;
}

#home {
    background: url('./IMG-20200817-WA0026.jpg') no-repeat center center/cover;
    color: white;
    /* background: whitesmoke; */
}

.homediv {
    display: block;
    text-align: left;
    margin-left: 10rem;
}

.homedivh4 {
    color: white;
}

.homefooter {
    height: 4rem;
    display: none;
    background-color: #212529;
}

.aboutme {
    min-height: 80vh;
    margin: auto;
    /* border: 1px solid saddlebrown; */
    width: 90vw;
    background: whitesmoke;
    border: none;
    box-shadow: 2px 2px 2px 2px rgba(156, 153, 153, 0.5);
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.Cardsss {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Cardss1 {
    width: 20%;
    border: 1px solid green;
    border: 6px solid rgb(84, 87, 84);
    border-radius: 1rem;
    height: 14rem;
    margin: 1rem;
    padding: 5px;
    background-color: rgb(84, 87, 84);
}

.Cardss1 img {
    height: 100%;
    width: 100%;
}

.Cardss2 {
    margin: 1rem;
    border: 6px solid rgb(84, 87, 84);
    border-radius: 1rem;
    width: 50%;
    padding: 1rem;
}

#skill {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: whitesmoke;
}

.card-container {
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    /* justify-content: center; */
}

#contact {
    flex-direction: column;
}

.cont {
    box-shadow: 2px 2px 2px 2px rgba(156, 153, 153, 0.5);
    background-color: whitesmoke;
    width: 80%;
    /* height: 80vh; */
}

.cont input {
    display: block;
    margin: 2rem auto;
    width: 60%;
    border: 2px solid rgb(70, 65, 65);
    border-radius: 1rem;
    padding: 1rem;
}

.cont textarea {
    display: block;
    margin: 2rem auto;
    width: 60%;
    border: 2px solid rgb(70, 65, 65);
    border-radius: 1rem;
    padding: 1rem;
}

#bt {
    width: 10rem;
    margin: auto;
    display: block;
    margin-bottom: 1rem;
}

@media only screen and (max-width: 600px) {
    section {
        min-height: 80vh;
        padding: 3px;
    }
    #home {
        background: url('./kriti.jpg') no-repeat center center/cover;
        color: white;
    }
    .homediv {
        margin-left: 1rem;
    }
    h4 {
        font-family: 'Kaushan Script', cursive;
        font-size: 2rem;
    }
    .homefooter {
        height: 4rem;
        display: block;
        background-color: #212529;
    }
    .Cardsss {
        flex-direction: column;
    }
    .Cardss1 {
        width: 97%;
        /* border:1px solid green; */
        border: 4px solid rgb(84, 87, 84);
        height: 45vh;
    }
    .Cardss2 {
        /* border: 1px solid green; */
        border: 3px solid rgb(84, 87, 84);
        width: 97%;
    }
    .aboutme {
        width: 95%;
    }
    .card-container {
        /* display: flex; */
        flex-direction: column;
        align-items: center;
        /* justify-content: center; */
    }
    .cont {
        box-shadow: 2px 2px 2px 2px rgba(156, 153, 153, 0.5);
        background-color: whitesmoke;
        width: 95%;
    }
    .cont input {
        display: block;
        margin: 2rem auto;
        width: 90%;
        border: 2px solid rgb(70, 65, 65);
        border-radius: 1rem;
        padding: 1rem;
    }
    .cont textarea {
        display: block;
        margin: 2rem auto;
        width: 80%;
        border: 2px solid rgb(70, 65, 65);
        border-radius: 1rem;
        padding: 1rem;
    }
}